/* Encriptador - 1 Desktop */
/*CSS para el header de las paginas*/
body {
    background: #bbbbbb37;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

header {
    padding: 20px 20px;
}

main{
    width: 100%;
    padding: 10px;
    display: inline-flex;
    place-content: center;
}

div {
    margin: 1%;
}
    
.div_formulario {
    width: 630px;
    height: 700px;
    display: inline-block;
    
    /* Same color as the body */
    background: #bbbbbb37;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
    
.div_resultado {
    width: 400px;
    height: 700px;
    display: inline-block;
    
    /* White */
    background: #FFFFFF;


    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.muneco{
    /* Muñeco */
    padding-inline: 32px;
    margin-top: 20%;
    padding-bottom: 50%;
}

.msj{
    display: grid;
    height: 563px;
}
.msj label{
    text-align: center;
    font-weight: bold;
    margin: 20px;
}   
.msj p{
    margin-top: 13%;
    place-content: center;
    font-weight: bold;
}

input[type="text"]
{
    font-size:24px;
    margin: 5px;
}

.div_msj p strong, .div_msj_encriptado p{
    font-weight: bold;
    margin: 5% 20px;
    word-break: break-all;
    white-space: normal;

}

#div_msj p{
    text-align: center;
}
#div_msj{
    margin-top: 10%;
}

.div_msj_encriptado{
    height: 84%;
    text-align: center;
    display: grid;
    place-content: center;
}
.div_btn_copiar{
    display: grid;
    place-content: center;
}

.btns{
    margin-inline: 2%;
}

.btn_encriptar:hover, .btn_desencriptar:hover, .btn_copiar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }

.btn_encriptar{
    /* Button */
    width: 300px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Button Text */

    font-family: 'Inter';   
    font-size: 16px;

    /* White */

    color: #FFFFFF;

    transition-duration: 0.4s;

}

.btn_desencriptar, .btn_copiar{

    /* Button */
    width: 300px;
    height: 67px;

    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Button Text */
    font-family: 'Inter';
    font-size: 16px;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;

    transition-duration: 0.4s;

}

.btn_label{
    display: block;
}


textarea{
    padding:10px;
    margin: 0 auto 10px; 
    border:none ;font-size:20px;
    border-radius:10px;outline:none;
    transition: box-shadow .3s ease
  }
  
  textarea:-ms-input-placeholder {color: #0A3871;}
  textarea::-moz-placeholder {color: #0A3871;}
  textarea::-webkit-input-placeholder {color: #0A3871;}
  
  /*textarea:focus{2px solid #2d303a91}*/
  textarea:focus,
  textarea:hover{box-shadow:0px 0px 13px 0px #0A3871;}


footer{
    text-align: center;
    /*background: url(../imagenes/footer_background.png);*/
    padding: 40px;
    background-attachment: fixed; 
}

.copyright{
    font-weight: bold;
    color: #000000;
    font-size: 13px;
    padding: 20px;
}



@media screen and (max-width:820px){
    main{
        display: block;
        margin:unset;
    }
    .div_formulario,
    .div_resultado {
        height: 300px;
        margin: 3% 15%;
    }
    .div_resultado{
        width: 630px;
    }
    .msj{
        height: 185px;
    }
    .btn_encriptar:hover, .btn_desencriptar:hover, .btn_copiar:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        cursor: pointer;
      }
      .muneco{
        display: none;
      }
    .div_msj_encriptado{
        height: 60%;
    }
    #div_msj {
        margin-top: 15%;
    }
}

@media screen and (max-width: 500px) {
    header{
        display: inline-block;
    }
    .caja{
        width: 100%;
        display: table-caption;
        }
    .div_resultado {
        width: 100%;
        height: 260px;
        margin: 5%;
    }
    .div_formulario {
        width: 100%;
        height: 480px;
        margin: 5%;
    }
    .msj{
        display: grid;
        height:unset;
    }
    .btn_encriptar, .btn_desencriptar{
        margin: 0.5% 8%;
    }
    main{
        margin:unset;
    }
    .btn_encriptar:hover, .btn_desencriptar:hover, .btn_copiar:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        cursor: pointer;
      }
      textarea{
        width: 16em;
      }
}
